<h1>Login</h1>

<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="mb-3">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </div>

  <div class="mb-3">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>

  <button class="btn btn-primary">Login<button>
</form>

<div class="mt-4">
  <a hhref="/users/new">Create an Account</a>
</div>