<h1 class="mb-2">Places I've Been</h1>

<p class="mb-4">
  <a href="/places/new" class="btn btn-success">New Place</a>
</p>

<div class="list-group">
  <% for place in @places %>
    <a href="/places/<%= place.id %>" class="list-group-item list-group-item-action fs-5">
      <%= place.name %>
    </a>
  <% end %>
</div>